<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/NavBar.ejs') %>
    <div class="container mt-4">
        <center>
            <h1><%= blog.title %></h1>
            <img class="p-3" src="<%=blog.coverImageURL%>" alt="" width="580px" height="480px">
            <p class="p-3">
                <%=blog.body%>
            </p>
        </center>
    </div>
    <div class="container mt-4">
        <img src="<%=blog.createdBy.profileImageUrl%>" width="50px" alt="">
        <%=blog.createdBy.fullName%>
    </div>
    <div class="container mt-3">
        <h1>Comments (<%=comments.length%>)</h1>
        <% if (locals.user) { %>
            <form action="/blog/comment/<%=blog._id%>" method="post">
                <div class="mb-3">
                    <input placeholder="Enter your comment" name="content" type="text" class="form-control" id="content" aria-describedby="emailHelp">
                    <button class="mt-1 btn btn-sm btn-dark" type="submit">Add</button>
                </div>
            </form>
        <% } %>
        <div class="container mt-3">
            <% comments.forEach(comment => { %>
             <div>
                <img src="<%=comment.createdBy.profileImageUrl%>" width="50px" alt="">
        <%=comment.createdBy.fullName%>
        <pre><%=comment.content%></pre>
             </div>
            <% }) %>
        </div>
    </div>
</body>